:root {
  --gap: 16px;
  --radius: 12px;
}

/* --- Carousel Base --- */
.carousel {
  position: relative;
  max-width: 1370px;
  width: 100%;
  margin: auto;
  padding: 80px;
  display: grid;
  gap: 40px;
  overflow: hidden;
  /* --- Desktop Grid --- */
}
.carousel header {
  text-align: center;
  color: var(--color-black);
  display: grid;
  text-wrap-style: balance;
}
.carousel header h2 {
  margin: 0;
  font-family: var(--font-minion);
  font-size: 48px;
  font-weight: 700;
  line-height: 1.25;
}
.carousel header h2::after {
  content: "";
  display: block;
  margin: 24px auto 32px auto;
  width: 160px;
  height: 4px;
  border-radius: 8px;
  background-color: var(--color-red);
}
.carousel header p {
  margin: 0;
  font-style: italic;
  font-size: 24px;
  line-height: 1.5;
}
.carousel__viewport {
  cursor: grab;
}
.carousel__viewport.is-dragging {
  cursor: grabbing;
}
.carousel__track {
  display: flex;
  transition: transform 0.25s ease;
  will-change: transform;
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
  gap: var(--gap);
}
@media (min-width: 740px) {
  .carousel__track {
    gap: 0;
  }
}
.carousel__slide {
  flex: 0 0 100%;
  transition: 0.5s;
  padding: 0 !important;
  margin: 0 !important;
}
@media (min-width: 740px) {
  .carousel__slide {
    transform: scale(0.95);
  }
}
.carousel__slide:before {
  display: none !important;
}
.carousel__slide.is-active {
  opacity: 1;
}
@media (min-width: 740px) {
  .carousel__slide.is-active {
    transform: scale(1);
  }
}
.carousel__slide.is-active iframe {
  pointer-events: auto;
}
@media (min-width: 740px) {
  .carousel__slide.has-active {
    transform: scale(0.9);
  }
}
.carousel__slide iframe {
  width: 100%;
  aspect-ratio: 9/16;
  border-radius: var(--radius);
  display: block;
  background: var(--color-black);
  pointer-events: none;
}
.carousel__nav {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: var(--gap);
  position: relative;
}
.carousel__nav--button {
  position: relative;
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 50%;
  background: var(--color-yellow);
  color: var(--color-black);
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: 0.25s;
}
.carousel__nav--button:hover {
  background: var(--color-black);
  fill: var(--color-white);
}
.carousel__nav--button:active {
  background: var(--color-red);
  fill: var(--color-white);
}
.carousel__nav--button[hidden] {
  display: grid;
}
.carousel__nav--dots {
  display: flex;
  grid-column: 1/-1;
  justify-self: center;
  gap: var(--gap);
  position: absolute;
  top: -100px;
}
.carousel__nav--dots button.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  transition: 0.25s;
  background: var(--color-white);
}
.carousel__nav--dots button.dot:hover {
  background: var(--color-yellow);
}
.carousel__nav--dots button.dot[aria-current=true] {
  background: var(--color-red);
}
@media (min-width: 740px) {
  .carousel .carousel__viewport {
    cursor: default;
  }
  .carousel .carousel__track {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transform: translate(0) !important;
  }
  .carousel .carousel__button,
  .carousel .carousel__dots {
    display: block;
  }
}

* {
  outline: 1px solid red;
}/*# sourceMappingURL=style.css.map */