:root {
    --gap: 16px;
    --radius: 12px;
}


/* --- Carousel Base --- */
.carousel {
    position: relative;
    max-width: 1370px;
    width: 100%;
    margin: auto;
    padding: 80px;
    display: grid;
    gap: 40px;
    overflow: hidden;

    header {
        text-align: center;
        color: var(--color-black);
        display: grid;
        text-wrap-style: balance;

        h2 {
            margin: 0;
            font-family: var(--font-minion);
            font-size: 48px;
            font-weight: 700;
            line-height: 1.25;

            &::after {
                content: "";
                display: block;
                margin: 24px auto 32px auto;
                width: 160px;
                height: 4px;
                border-radius: 8px;
                background-color: var(--color-red);
            }
        }

        p {
            margin: 0;
            font-style: italic;
            font-size: 24px;
            line-height: 1.5;
        }
    }

    &__viewport {
        cursor: grab;

        &.is-dragging {
            cursor: grabbing;
        }
    }

    &__track {
        display: flex;
        transition: transform 0.25s ease;
        will-change: transform;
        list-style: none;
        padding: 0 !important;
        margin: 0 !important;
        gap: var(--gap);

        @media (min-width: 740px) {
            gap: 0;
        }
    }

    &__slide {
        flex: 0 0 100%;
        transition: 0.5s;
        padding: 0 !important;
        margin: 0 !important;

        @media (min-width: 740px) {
            transform: scale(0.95);
        }

        &:before {
            display: none !important;
        }



        &.is-active {
            opacity: 1;

            @media (min-width: 740px) {
                transform: scale(1);
            }

            iframe {
                pointer-events: auto;
            }
        }

        &.has-active {
            @media (min-width: 740px) {
                transform: scale(0.9);
            }
        }

        iframe {
            width: 100%;
            aspect-ratio: 9 / 16;
            border-radius: var(--radius);
            display: block;
            background: var(--color-black);
            pointer-events: none;
        }
    }

    &__nav {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        gap: var(--gap);
        position: relative;

        &--button {
            position: relative;
            width: 80px;
            height: 80px;
            border: none;
            border-radius: 50%;
            background: var(--color-yellow);
            color: var(--color-black);
            display: grid;
            place-items: center;
            cursor: pointer;
            transition: 0.25s;

            &:hover {
                background: var(--color-black);
                fill: var(--color-white);
            }

            &:active {
                background: var(--color-red);
                fill: var(--color-white);
            }

            &--prev {}

            &--next {}

            &[hidden] {
                display: grid;
            }
        }

        &--dots {
            display: flex;
            grid-column: 1 / -1;
            justify-self: center;
            gap: var(--gap);
            position: absolute;
            top: -100px;


            button.dot {
                width: 16px;
                height: 16px;
                border-radius: 50%;
                border: 0;
                cursor: pointer;
                transition: 0.25s;
                background: var(--color-white);

                &:hover {
                    background: var(--color-yellow);

                }

                &[aria-current="true"] {
                    background: var(--color-red);
                }
            }
        }
    }



    /* --- Desktop Grid --- */
    @media (min-width: 740px) {
        .carousel__viewport {
            cursor: default;
        }

        .carousel__track {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            transform: translate(0) !important;
        }

        .carousel__button,
        .carousel__dots {
            display: block;
        }
    }
}

* {
    outline: 1px solid red;
}